<div class = "pt-set-wrap">
    <h4 class = "pt-msg-title"><b class = "f-fl">添加配置项</b></h4>
    <div class = "pt-set-box">
        <form action = "__SELF__" method = "post" enctype = "multipart/form-data" class = "vform">
            <div class = "pt-set-content">
                <div class = "pt-set-info">
                    <div class = "line">
                        <b>配置名称：</b>
                        <label><input name = "title" type = "text" value = "" class = "input-text w450" placeholder="" /></label>
                    </div>
                </div>
                <div class = "pt-set-info">
                    <div class = "line">
                        <b>配置Key：</b>
                        <label><input name = "key" type = "text" value = "" class = "input-text w450" datatype = "s1-16" ajaxurl = "__URL__/ajax/id/0" /></label>
                    </div>
                </div>
                <div class = "pt-set-info">
                    <div class = "line">
                        <b>配置说明：</b>
                        <label><textarea name = "intro" class="input-box w450"></textarea></label>
                    </div>
                </div>
                <div class = "pt-set-info ">
                    <div class = "line">
                        <b>配置值：</b>
                        <label><textarea name = "value" class="input-box w450"></textarea></label>
                    </div>
                </div>
                <div class = "pt-set-info">
                    <div class = "line">
                        <b>配置类型：</b>
                        <label>
                            <select class = "input-box w450" name = "type">
                                <option value = "num" >数字</option>
                                <option value = "text" >字符</option>
                                <option value = "textarea" >文本</option>
                                <option value = "radio" >单选</option>
                                <option value = "checkbox" >复选</option>
                                <option value = "array" >数组</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class = "pt-set-info">
                    <div class = "line">
                        <b>配置分组：</b>
                        <label>
                            <select class = "input-box w450" name = "group">
                                <option value = "0" >不分组</option>
                                <option value = "1" >基本</option>
                                <option value = "2" >数据库</option>
                                <option value = "3" >显示</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class = "pt-set-info f-dn config-extra">
                    <div class = "line">
                        <b>配置选项：</b>
                        <label><textarea name = "extra" class="input-box w450" style="height:100px" placeholder="选项值:说明文案，用换行分隔"></textarea></label>
                    </div>
                </div>
                <div class = "pt-set-info">
                    <div class = "line">
                        <b>排序序号：</b>
                        <label><input name = "ordernum" type = "text" value = "50" class = "input-text w450" /></label>
                    </div>
                </div>
                <div class = "pt-set-info">
                    <div class = "line"><b>配置级别：</b>
                        <label>
                            <input name = "level" type = "radio" value = "2" />核心配置&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                        <label>
                            <input name = "level" type = "radio" value = "1" checked />扩展配置&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                        <label>
                            <input name = "level" type = "radio" value = '0' />辅助配置&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                        <span class="Validform_checktip ">核心配置生成在主配置文件，扩展配置生成在扩展文件，辅助配置不生成到文件</span>
                    </div>
                </div>

                <div class = "pt-set-info">
                    <div class = "line"><b>配置状态：</b>
                        <label>
                            <input name = "status" type = "radio" value = "1" checked />正常&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                        <label>
                            <input name = "status" type = "radio" value = '0' />禁用&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                </div>
            </div>
            <div class = "pt-tab-button">
                <div class = "pt-set-info">
                    <div class = "line">
                        <b></b>
                        <input class = "btn btn-success" type = "submit" value = " 添加配置项 " />&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type = "text/javascript" src = "__PUBLIC__/plugin/validator/jquery.validator.js"></script>
<script type = "text/javascript" src = "__PUBLIC__/plugin/datepicker/WdatePicker.js"></script>
<script type = "text/javascript">
    $(function(){
        $('select[name=type]').on('change',function(){
            var v=$(this).find('option:selected').val();
            if (v=='radio' || v=='checkbox'){
                $('.config-extra').show();
            }else{
                $('.config-extra').hide();
            }
        })
    })
</script>