<script type = "text/javascript" src = "__PUBLIC__/script/angular.min.js"></script>
<script type = "text/javascript" src = "__PUBLIC__/script/angular.init.js"></script>
<script type = "text/javascript">
    function showlist($scope, $http) {
        $scope.lists = $.parseJSON('{$list|json_encode}');
        $scope.changestatus = function (id, value) {
            var param = {
                'changestatus': '修改状态',
                'id[]': $scope.lists[id].id,
                'value[]': value
            };
            $http.post('__URL__/multi', param).success(function (res) {
                if (res.status == 1) {
                    $scope.lists[id].status = value;
                } else {
                    alert(res.info);
                }
            });
        };
        $scope.del = function (id,key) {
            if (confirm('确认删除么？')) {
                var param={'id':id};
                $http.post('__URL__/del', param).success(function (res) {
                    if (res.status == 1) {
                        $scope.lists.splice(key, 1);
                    } else {
                        alert(res.info);
                    }
                });
            }
        };
    }
</script>