<div class = "pt-table-wrap">
    <div class = "pt-set-box">
        <h4 class = "pt-msg-title"><b class="f-fl">{$typename}管理</b></h4>
        <div class = "pt-list">
            <form method = "post" action = "{link=friendlink.index.multi}" id = "showtable" onsubmit="return checkselt('id[]','#showtable');">
                <div class = "pt-list-header">
                    <div class="pt-list-operate f-fl">
                        <input type = "button" class = "btn btn-success btn-sm" value = "添加">
                        <input type = "button" class = "btn btn-danger btn-sm" value = "禁用">
                    </div>
                    <div class="f-fr">
                        <select name = "searchtype" class = "input-box">
                            <option value = "title">标题</option>
                        </select>
                        <input name = "searchkey" class = "input-text w160" type = "text" />
                        <input type = "submit" class = "btn btn-default btn-sm" value = "搜索" />
                    </div>
                    <div class="f-clear"></div>
                </div>
                <table class = "pt-list-table">
                    <thead>
                    <tr>
                        <th class = "w-checkbox"><input type = "checkbox" class = "checkall" data = "id[]" checked></th>
                        <th class = "w-word5">用户名</th>
                        <th class = "w-word5">用户组</th>
                        <th class = "w-word5">创建人</th>
                        <th class = "w-time">创建时间</th>
                        <th class = "w-word5">修改人</th>
                        <th class = "w-time">修改时间</th>
                        <th class = "w-word4">登录数</th>
                        <th class = "w-time">登录时间</th>
                        <th class = "w-word2">状态</th>
                        <th class = "operate w-operate2">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop="list"}
                    <tr>
                        <td><input type = "checkbox" name = "id[]" value = "{$key}" checked></td>
                        <td>{$loop.passport_id|dc::get='passport',@,'name'}</td>
                        <td>{$loop.group_id}</td>
                        <td>{$loop.create_user_id|dc::get='passport',@,'name'}</td>
                        <td>{$loop.create_time|date="y-m-d H:i"}</td>
                        <td>{$loop.update_user_id|dc::get='passport',@,'name'}</td>
                        <td>{$loop.update_time|date="y-m-d H:i"}</td>
                        <td>{$loop.login_num}</td>
                        <td>{$loop.login_time|date="y-m-d H:i"}</td>
                        <td>{$loop.status|default='<span class = "label label-warning">禁用</span>','<span class = "label label-success">正常</span>'}</td>
                        <td class = "operate">
                            <a href = "{link=friendlink.index.edit id=$key}"><i class = "icon icon-edit"></i>编辑</a>
                            <a href = "javascript:del('{$key}');"><i class = "icon icon-trash"></i>删除</a>
                        </td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
                <div class = "pt-list-footer">
                    <div class="pt-list-operate f-fl">
                        <input type = "button" class = "btn btn-success btn-sm" value = "批量操作">
                        <input type = "button" class = "btn btn-primary btn-sm" value = "批量操作">
                    </div>
                    <div class = "pt-page f-fr">
                        {$pagestr}
                    </div>
                    <div class="f-clear"></div>
                </div>
            </form>
            <div class = "clear"></div>
        </div>
    </div>
</div>